body {
    font-family:sans-serif;
    margin: 20px;
    background-color: #fffafa;
  }
  
  h1 {
    color: #181717;
    text-align: center;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  